@import "compass/reset";
@import "compass/css3";
@import "fonts";
@import "utilities";

$titleColor: #fff;
$lightText: #d7d7d7;

html, body, #main, .body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

html {
	font-family: "HelveticaNeue", Arial, sans-serif;
	font-size: 14px;
	color: $colorTextPrimary;

	-webkit-font-smoothing: antialiased;
}

a,
a:before {
	color: inherit;
	text-decoration: none;
}

a:hover,
a:hover:before,
a:hover:after,
a.active,
a.active:before,
a.active:after {
	//color: $colorPrimaryHover !important;
}

//
//
//

#waiting {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,0.8);
	cursor: wait;
	
	&.on {
		display: block;
	}
}

//
// OVERALL PAGE STRUCTURE
// The container table is used to layout the overall page
//

.container-table {
    display: table;
    height: 100%;
    width: 100%;
	overflow: hidden;	
}
	
.container-table-row {
	display: table-row;
}

.container-table-cell {
	display: table-cell;
}

// the image resizing javascript just won't respect margin or padding on lower elements
// dunno why this works
.photo .container-table-cell {
	padding-right: 1em;
	padding-bottom: 1em;
}

#header, #body {
	padding: 1em;
}

#header {
	position: relative;
	color: white;
	background-color: $colorTextPrimary;

	h1 {
		display: inline-block;
		font-family: 'VAGRoundedBT-Regular',"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
		font-size: 1.8em;
		color: $titleColor;
		letter-spacing: -.02em;
	}
	
	.admin-controls {
		display: none;
		position: absolute;
		left: 0;
		bottom: 0;
		font-size: smaller;
		color: $titleColor;
		padding-left: 1.3em;
		min-height: 1.7em;
		min-width: 20em;
		
		a {
			color: #999;
			display: none;
			cursor: pointer;
		}
		
		// show the edit controls on hover by an admin
		&:hover a {
			display: inline;
		}
		
		:not(:last-child):after {
			content: " | ";
			color: #888;
		}
	}
	
	// SHOULD be ony defined in editor/stylesheet.css,
	// but the wysihtml5 editor JS needs it before that's
	// loaded
	.caption-edit-controls {
		textarea {
			width: 100%;
		}
	}
}

.is-site-admin #header .admin-controls {
	display: block;
}

#secondary-header {
	padding: 0.75em 1em;
	background-color: #383c41;
	border-bottom: 1px solid #1b1e21;
	border-top: 1px solid black;
	
	.years {
		color: $titleColor;

		:not(:last-child):after {
   			content: " | ";
   			color: #666;
   		}
   		
   		a:hover {
	   		cursor: pointer;
   		}
	}
}

#body {
	height: 100%;
	overflow: hidden;
}

//
// Stuff to use in dialogs
//
.error.message {
	color: #AA721E;
	padding: .5em;
	border: solid #E7E2A4 1px;
	border-radius: 5px;
	background-color: lightyellow;
}

//
// dialog that overlays the rest of the screen
//
#fullscreen-dialog {
	// blocks out anything under the dialog
	.overlay {
		z-index: 100; // higher than .login-button and .logout-button
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		background-color: #fff;
		opacity: 0.9;
	}

	// where the actual contents of the dialog go
	.contents {
		z-index: 101; // higher than .login-button and .logout-button
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		padding: 5em;

		// there should be only one element inside me
		// containing the actual content of the dialog
		> :first-child {
			background-color: #fff;
			padding: 1em;
			border: solid #777777 1px;
			border-radius: 8px;

			h3 {
				margin-bottom: 1em;
				font-weight: bold;
			}

			input[type=text],
			input[type=date] {
				border: solid #777777 1px;
			}

			input[name=summary] {
				width: 30em;
			}

			.cancel {
				margin-top: 1em;
				cursor: pointer;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

//
// dialog for login form
//
#dialog {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 3.5em;
	z-index: 100; // higher than .login-button and .logout-button
}

.login-button, .logout-button {
    color: transparent;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 3.5em;
	padding-bottom: 2em;
	cursor: pointer;

	&:hover {
		color: $lightText;
	}
}

.authenticated .login-button {
	display: none;
}

.logout-button {
	display: none;
}
.authenticated .logout-button {
	display: block;
}

.login-form {
	background-color: #fff;
	input[type=text],
	input[type=password] {
		border: solid #777777 1px;
	}
	.cancel {
		color: $lightText;
		padding: 1em;
		cursor: pointer;
		text-align: right;
		&:hover {
			text-decoration: underline;
		}
	}
}

/**
 * ALBUM PAGE STYLING
 */

.album {
	height: 100%;

	#body {
		overflow-x: hidden;
		overflow-y: auto;
	}
}

.thumbnail {
	margin: 1em;
	vertical-align: top;
	
	img {
		border: solid black 1px;
	}
	.title {
		font-weight: bold;
	}
	.summary {
		margin-top: 0.3em;
	}
}

.thumbnails {
	vertical-align: top;
}

.album.year .thumbnails {

	.month {
		display: block;
		margin: 1em;
		
		& > h1 {
			font-weight: bold;
			font-size: 1.3em;
			background: #EEE;
			border-radius: 1em;
			padding: 0.3em 1em;
			width: 100%;
		}
	}
}

.album.root .thumbnails {
	.thumbnail {
		a {
			vertical-align: top;
			font-size: 1.5em;
			padding-left: 0.5em;
			
			h1 {
				display: inline;
				vertical-align: top;
			}
		}
	}
}

.album.week .thumbnails {
	.thumbnail {
		display: inline-block;
		a {
			display: block;
		}
	}
}

.album.year {
	#body {
		padding: 0;
	}
	
	.thumbnails {
		display: table-cell;
		width: 100%;
		
		.thumbnail {
			display: inline-block;
			a {
				display: block;
			}
		}
	}
	
	.firsts-container {
		display: table-cell;
		
		@media all and (max-width: 500px) {
			display: none;
		}
	}
	
	.firsts {
		min-width: 12em;
		border-top-right-radius: 1em;
		border-bottom-right-radius: 1em;
		margin-top: 1em;
		padding: 1em;
		background: #EEE;
		height: 100%;
		
		p {
			margin-bottom: 1em;
		}
		
		span {
			display: block;
			margin-bottom: 0.1em;
			font-style: italic;
		}
	}
}

/**
 * PHOTO PAGE STYLING
 */
@media all and (min-width: 1000px) {
	.photo.sidebar-text {
		#body {
			display: table;
			table-layout: fixed;
			width: 100%;
		}
		
		.caption {
			display: table-cell;
			width: 26em;
			//padding: 1em 0;
		}
		
		.photo-container {
			display: table-cell;
			//padding: 1em;
		}
	}
}

.photo-container {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding-right: 1em;

	img {
		display: none;
		position: absolute;
		width: 100%;
	}
}

/*
 * PHOTO & ALBUM CAPTIONS
 */
.photo.top-text .caption {
	//margin: 0.5em 0;
}
.photo .caption {
	padding-bottom: 0.5em;
}
.album .caption {
	margin: 0.5em 1em;
}
.caption {
	font-size: 16px;
	//font-size: 1.3em;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #111;
	line-height: 1.3;
	text-rendering: optimizeLegibility;
	
	p {
		margin-top: 0.7em;
	}
	
	li {
	  line-height: 1.5;
	}
	
	a {
		color: #6B8CB7;
		font-weight: bold;
	}
	
	strong, b {
	  font-weight: bold;
	}
	
	i, em {
	  font-style: italic;
	}
	
	li {
	  margin-left: 30px;
	}
	
	ul li {
	  list-style: disc outside;
	}
	
	ol li {
	  list-style: decimal outside;
	}
	
	li img {
	  vertical-align: middle;
	  margin: 2px 5px 5px 0;
	}
	
	cite {
		font-style: italic;
	}
	
	//
	// The .wysiwyg styles are in support of caption content added 
	// by the wysihtml5 rich text editor
	//
	
	.wysiwyg-color-black {
	  color: black;
	}
	
	.wysiwyg-color-silver {
	  color: silver;
	}
	
	.wysiwyg-color-gray {
	  color: gray;
	}
	
	.wysiwyg-color-white {
	  color: white;
	}
	
	.wysiwyg-color-maroon {
	  color: maroon;
	}
	
	.wysiwyg-color-red {
	  color: red;
	}
	
	.wysiwyg-color-purple {
	  color: purple;
	}
	
	.wysiwyg-color-fuchsia {
	  color: fuchsia;
	}
	
	.wysiwyg-color-green {
	  color: green;
	}
	
	.wysiwyg-color-lime {
	  color: lime;
	}
	
	.wysiwyg-color-olive {
	  color: olive;
	}
	
	.wysiwyg-color-yellow {
	  color: yellow;
	}
	
	.wysiwyg-color-navy {
	  color: navy;
	}
	
	.wysiwyg-color-blue {
	  color: blue;
	}
	
	.wysiwyg-color-teal {
	  color: teal;
	}
	
	.wysiwyg-color-aqua {
	  color: aqua;
	}
}

/*
 * Styles for the wysihtml5 rich text editor.
 */
.caption-edit-controls {
	input[type=text] {
		font-family: 'VAGRoundedBT-Regular';
		font-size: 1.8em;
		letter-spacing: -.02em;
		display: block;
		width: 100%;
		padding: 0;
		padding: 0.2em;
	}
	textarea {
		display: block;
		width: 100%;
		min-width: 50em;
		min-height: 8em;
		font-family: Verdana;
		font-size: 1.1em;
		padding: 0.4em;
		white-space: pre;
	}
	.button-group {
		margin-top: 0.7em;
		
		a {
			&.submit {
				color: white;
				font-weight: bold;
			}
		}
	}
	iframe.wysihtml5-sandbox {
		min-height: 10em;
	}
}
			
#wysihtml5-editor-toolbar {
  position: relative;


	header {
	  display: block;
	  border-radius: 4px;
	  width: 430px;
	  background: #eee;
	  position: relative;
	  z-index: 1;
	  text-align: center;
	  background-image: linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
	  background-image: -o-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
	  background-image: -moz-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
	  background-image: -webkit-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
	  background-image: -ms-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
	  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
	  font-size: 0;
	  text-align: center;
	}
	
	.commands {
	  border-left: 1px solid #ddd;
	  display: inline-block;
	}
	
	[data-wysihtml5-command],
	[data-wysihtml5-action],
	.fore-color {
	  position: relative;
	  border-right: 1px solid #ddd;
	  border-left: 1px solid #fff;
	  list-style: none;
	  font-size: 12px;
	  display: inline-block;
	  cursor: pointer;
	  height: 40px;
	  width: 68px;
	}
	
	[data-wysihtml5-command]::after,
	[data-wysihtml5-action]::after,
	.fore-color::after {
	  content: "";
	  background-image: url("../images/editor_spr_toolbar_icons_r1.png");
	  background-repeat: no-repeat;
	  position: absolute;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	}
	
	[data-wysihtml5-command]:hover,
	[data-wysihtml5-action]:hover,
	.fore-color:hover {
	  background-image: linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
	  background-image: -o-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
	  background-image: -moz-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
	  background-image: -webkit-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
	  background-image: -ms-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
	}
	
	[data-wysihtml5-command="bold"]::after {
	  background-position: 24px center;
	}
	
	[data-wysihtml5-command="italic"]::after {
	  background-position: -48px center;
	}
	
	[data-wysihtml5-command="insertUnorderedList"]::after {
	  background-position: -115px center;
	}
	
	[data-wysihtml5-command="insertOrderedList"]::after {
	  background-position: -197px center;
	}
	
	[data-wysihtml5-command="formatBlock"][data-wysihtml5-command-value="h1"]::after {
	  background-position: -344px center;
	}
	
	[data-wysihtml5-command="formatBlock"][data-wysihtml5-command-value="h2"]::after {
	  background-position: -428px center;
	}
	
	[data-wysihtml5-command="createLink"]::after {
	  background-position: -271px center;
	}
	
	[data-wysihtml5-command="insertImage"]::after {
	  background-position: -513px center;
	}
	
	.fore-color::after {
	  background-position: -741px center;
	}
	
	[data-wysihtml5-command="insertSpeech"]::after {
	  background-position: -596px center;
	}
	
	[data-wysihtml5-action="change_view"]::after {
	  background-position: -670px center;
	}
	
	.fore-color ul {
	  display: none;
	  position: absolute;
	  z-index: 2;
	  top: 40px;
	  right: -1px;
	  left: -2px;
	  border: 1px solid #ccc;
	  border-top: 0;
	  background: #fff;
	  overflow: hidden;
	}
	
	.fore-color li {
	  display: block;
	  margin: 3px;
	  width: auto;
	  border: 0;
	  height: 15px;
	}
	
	.fore-color li::after {
	  display: none;
	}
	
	.fore-color:hover ul {
	  display: block;
	}
	
	.fore-color [data-wysihtml5-command-value="silver"] {
	  background: silver !important;
	}
	
	
	.fore-color [data-wysihtml5-command-value="gray"] {
	  background: gray !important;
	}
	
	.fore-color [data-wysihtml5-command-value="maroon"] {
	  background: maroon !important;
	}
	
	.fore-color [data-wysihtml5-command-value="red"] {
	  background: red !important;
	}
	
	.fore-color [data-wysihtml5-command-value="purple"] {
	  background: purple !important;
	}
	
	.fore-color [data-wysihtml5-command-value="green"] {
	  background: green !important;
	}
	
	.fore-color [data-wysihtml5-command-value="olive"] {
	  background: olive !important;
	}
	
	.fore-color [data-wysihtml5-command-value="navy"] {
	  background: navy !important;
	}
	
	.fore-color [data-wysihtml5-command-value="blue"] {
	  background: blue !important;
	}
	
	.fore-color .wysihtml5-command-active {
	  outline: 1px solid #666;
	  outline-offset: 1px;
	}
	
	.wysihtml5-commands-disabled .fore-color ul {
	  display: none;
	}
	
	.wysihtml5-action-active,
	.wysihtml5-command-active {
	  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.2);
	  background: #eee !important;
	}
	
	.wysihtml5-commands-disabled [data-wysihtml5-command],
	.wysihtml5-commands-disabled .fore-color {
	  opacity: 0.4;
	  cursor: default;
	  background-image: none !important;
	}
	
	[data-wysihtml5-dialog] {
	  color: #333;
	  font-size: 14px;
	  text-align: left;
	  border-radius: 4px;
	  -ms-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  border: 1px solid #ccc;
	  padding: 5px 10px;
	  background: #FFFBE0;
	  position: absolute;
	  width: 810px;
	  text-align: center;
	  top: 45px;
	}
	
	[data-wysihtml5-dialog] input {
	  color: #333;
	  border: 1px solid #ccc;
	  padding: 3px;
	  width: 300px;
	}
	
	[data-wysihtml5-dialog] input:focus {
	  outline: 0;
	  border: 1px solid #666;
	}
	
	[data-wysihtml5-dialog-action] {
	  padding: 4px;
	  color: #fff;
	  cursor: pointer;
	}
	
	[data-wysihtml5-dialog-action="save"] {
	  background: #007200;
	}
	
	[data-wysihtml5-dialog-action="cancel"] {
	  background: #999;
	}
	
	section {
		margin-top: 1em;
	}
	
	textarea {
	  font-family: "Courier New", Courier, monospace;
	  width: 100%;
	  background: transparent;
	  height: 100%;
	  border: 0;
	  resize: none;
	  white-space: pre;
	  border-top-left-radius: 4px;
	  border-top-right-radius: 4px;
	  padding: 10px;
	  word-wrap: normal;
	  -ms-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	}
	
	textarea:focus {
	  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
	  background: rgba(255, 255, 255, 0.4);
	  outline: 0;
	}
	
	a.fork {
	  position: absolute;
	  top: 0;
	  right: 0;
	  border: 0;
	}
}

/**
 * Keep the years in a separate easy-to-maintain file.
 */
@import "years";
