{{#if album.description}}
<section class="caption">
	<h1 class="hidden">Overview</h1>
	{{{album.description}}}
</section>
{{/if}}
<div class="container-table">
	{{#if album.sidebar}}
		<div class="firsts-container">
			<section class="firsts">
				{{{album.sidebar}}}
			</section>
		</div>
	{{/if}}
	<section class="thumbnails">
		<h1 class="hidden">Pictures</h1>
		{{{thumbnails}}}
	</section>
</div>