<div class="album-create-form">
	<h3>Create a new album under {{title}}</h3>
    <div class="error message hidden"></div>
    <input name="date" type="date" placeholder="publication date" autofocus/>
    <input name="title" type="text" placeholder="Title" />
    <input name="summary" type="text" placeholder="Summary, like 'Thanksgiving'" />
	<button name="submit" class="button">Submit</button>
    <div class="cancel">Cancel</div>
</div>