<div class="login-form">
    <div class="field"><span>Username:</span> <input type="text"/></div>
    <div class="field"><span>Password:</span> <input type="password"/></div>
	<a class="submit button">Submit</a>
    <a class="cancel button">Cancel</a>
</div>