<div class="login-form">
    <div class="fail-message hidden">Invalid username or password</div>
    <input type="text" placeholder="username" autofocus/>
    <input type="password" placeholder="password"/>
    <div class="cancel">Cancel</div>
</div>